:root {
    --background-blue: #9DDCFF;
    --background-orange: #FF7F0F;
    --background-red: #7F0002;
    --background-purple: #4A0094;
    --background-yellow: #FFFFA5;
    --yellow: var(--background-yellow);
    --blue: #050060;
    --red: #7F0002;
    --purple: #4A0094;
    --pink: #FFD5D6;
    --text: var(--blue);
    --font-regular: 400;
    --font-bold: 700;
    --text-size: 1.875rem;
}

/* Regular — 400 */
@font-face {
  font-family: "Plouv-ara";
  src: url("/assets/fonts/PLOUV-ARA/Plouv-ara-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Italic — 400 */
@font-face {
  font-family: "Plouv-ara";
  src: url("/assets/fonts/PLOUV-ARA/Plouv-ara-Italique.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Medium — 500 */
@font-face {
  font-family: "Plouv-ara";
  src: url("/assets/fonts/PLOUV-ARA/Plouv-ara-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Medium Italic — 500 */
@font-face {
  font-family: "Plouv-ara";
  src: url("/assets/fonts/PLOUV-ARA/Plouv-ara-MediumItalique.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* Bold — 700 */
@font-face {
  font-family: "Plouv-ara";
  src: url("/assets/fonts/PLOUV-ARA/Plouv-ara-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Bold Italic — 700 */
@font-face {
  font-family: "Plouv-ara";
  src: url("/assets/fonts/PLOUV-ARA/Plouv-ara-BoldItalique.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

body {
    background: linear-gradient(180deg, var(--background-blue) 60%,var(--background-orange) 100%);
    margin: 0;
    padding: 0;
    color: var(--text);
    font-family: "Plouv-ara", sans-serif;
    font-weight: var(--font-regular);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 4rem;
}

header h1 {
    margin: 4rem;
}

section {
    width: 60%;
}

button {
    background: transparent;
    border: none;
    font-family: "Plouv-ara";
    color: var(--text);
    font-size: var(--text-size);
    font-weight: 700;
}

button:hover {
    text-decoration: underline;
    cursor: pointer;
}

h1 {
    font-size: 24rem;
    font-weight: 500;
    text-align: center;
    font-feature-settings: 'ss01' on;
    line-height: normal;
}

p {
    text-align: center;
    font-size: 1.875rem;
}

.icon {
  display: inline-block;
  height: 4em;
  width: 4em;
  background-color: var(--text);
  -webkit-mask: var(--icon) center / contain no-repeat;
          mask: var(--icon) center / contain no-repeat;
}

.icon-heart  { 
    --icon: url("/assets/svg/heart.svg"); 
}
.icon-star-5 {
     --icon: url("/assets/svg/star-5.svg"); 
}

.introduction {
    font-feature-settings: 'ss01' on;
}

.button-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
